#conda create -n narrative-map -c rapidsai -c conda-forge -c nvidia \
#python=3.10 cudatoolkit=11.8 rapids=23.12

#conda activate narrative-map

gensim
hanlp==2.1.1
hdbscan
jieba

prettytable
python-dotenv
pyvis

scipy
setuptools
spacy==3.8.7
torch==2.7.0
transformers==4.52.4
umap-learn